/*  HELPERS  */
.pad15_side{ padding-left: 15px; padding-right: 15px; }
.pad25_side{ padding-left: 25px; padding-right: 25px; }
.pull-left{ float: left; }
.btn{
    display: inline-block;
    padding: 7px 10px;
    background-color: #F1F1F1;
    border: 1px solid #CCCCCC;
    text-decoration: none;
    color: #222222;
}
input.medium{
    font-size: 18px;
}
input.large{
    font-size: 25px;
}
input.extra-large{
    font-size: 35px;
}
select.large{
    font-size: 25px;
    padding: 0;
    height: 38px;
}
.full{
    width: 100%;
}
.half{
    width: 50%;
}
.third{
    width: 33%;
}
.fourth{
    width: 25%;
}
.four-one{
    width: 75%;
}
.one-four{
    width: 25%;
}
.input_item_group{
    position: relative;
}
.array_item{
    width: 32%;
    float: left;
    padding: 10px; 
    background-color: #eeeeee;
    border: 1px solid #DDDDDD;
    position: relative;
    margin-bottom: 15px;
    margin-right: 1%;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing:antialiased;

}
.array_item:nth-child(3n+2){
    clear:left;
}

.array_item .close{
    background: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 500px 500px 500px 500px;
    padding: 0;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    top: -10px;
    right: -10px;
    position: absolute;
}
.array_item .close_item{
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: none;
    font-weight: bold;
    color: #999999;
    padding: 5px 10px; 
}
.array_item .close_item:hover{
    cursor:pointer;
}
.array_item > h4{
    font-size: 14px!important;

    border-bottom: 1px solid #DDDDDD;
    display: block;
    margin: 0 0 5px!important;
    padding-bottom: 5px;
}
.array_item input, .array_item textarea{
    margin-bottom: 10px;
}
.bl_add_field, .bl_add_field_complex{
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #DDDDDD;
    position: absolute;
    right: 10px;
    top: 5px;
}


/*  PORTFOLIO  */

/* list */
.post-type-blu-portfolio .column-image{
    width: 75px;
}

#blu_portfolio h4 {
    font-size: 18px;
    margin: 10px 0 20px 0;
    width: 100%;
    display: block;
    max-width: none;
    position: relative;
}

#blu_portfolio h4 small{
    font-size: 14px;
    margin: 5px 0 10px 0;
    padding-bottom: 10px;
    display: block;
    width: 100%;
    font-weight: normal;
    border-bottom: 1px solid #DDDDDD;
}

/*  Meta boxes  */

div.cd-layout {  
    width:200px;  
    float:left;   
}  
div.cd-layout input[type=radio] {  
    display: none;    
} 
div.cd-layout label  {  
	position: relative;
} 
div.cd-layout label > img {  
	border: 2px solid transparent;
} 
div.cd-layout input[type=radio]:checked + label img {  
	border-color: #2C9ACB;
} 
#bluth_post_meta .clearfix:after {  
    clear: both;  
    content: ' ';  
    display: block;  
    font-size: 0;  
    line-height: 0;  
    visibility: hidden;  
    width: 0;  
    height: 0;  
      
}  
#bluth_post_meta label span, #bluth_page_meta label span, #bluth_portfolio_meta label span {  
    display:block;  
    margin-top:5px;  
} 
.postbox-container h4{ max-width: 500px;}
.blu-heading{
    font-size: 16px;
    border-bottom:1px solid #cccccc; 
    margin:15px 0; 
    padding-bottom:5px; 
    width:100%;
}
.blu_add_image{
    height: 100px;
    width: 100%;
    overflow:hidden;
    display: block;
    margin-bottom: 10px;
    background: #EEEEEE;
    border: 1px solid #DDDDDD;
}
.blu_image_upload img{
    display: block;
    margin: 0 auto;
    position: relative;
    max-width: 250px;
}
.blu_image_upload button{
    display: block;
    margin: 0 auto;
    max-width: 200px;
    padding: 5px 10px;
}


/*****************
/*  THEME OPTIONS
******************/
#optionsframework{
    border:none;
    box-shadow: none;
    border-radius:;
    border: 1px solid #DDDDDD;
    margin-bottom: 65px;
    font-family: "Open Sans",sans-serif;
}
#optionsframework-wrap{ background-color: #EEEEEE; position: relative; top: -5px; padding-top: 35px; left: -20px; height: 100%; width: 120%; padding-bottom: 15px; }
#optionsframework .group > h3:first-child{ color: #333333; background: #FEFEFE; box-shadow: none; font-size: 25px; padding: 30px 20px; }
#icon-themes{ display: none; }
#optionsframework-wrap .nav-tab-wrapper{
    border: none;
    border: 1px solid #DDDDDD;
    left: 0;
    position: absolute;
    top: 45px!important;
    z-index: 10;
    left: 20px; 
    top: 10px; 
    background-color: #222222; 
    width: 123px;
    padding: 0;
}
#optionsframework-wrap h2 .nav-tab {
    clear: both;
    float: left;
    border: none;
    color: #EEEEEE;
    display: inline-block;
    font-size: 13px;
    font-weight: lighter;
    line-height: 16px;
    margin: 0;
    padding: 0;
    border: 10px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    text-decoration: none;
    text-shadow: none;
    width: 140px;
    outline: none!important;
    /*border-top: 1px solid transparent;*/
    /*border-bottom: 1px solid transparent;*/
    background-color: #222222; 

}
#optionsframework-wrap h2 .nav-tab.nav-tab-active, #optionsframework-wrap h2 .nav-tab:hover {
    background-color: #0074A2;
    color: #FFFFFF;
}
#optionsframework-wrap h2 .nav-tab.nav-tab-active i, #optionsframework-wrap h2 .nav-tab:hover i {
    color: #FFFFFF;
}
#optionsframework-wrap h2 .nav-tab i{
    color: #BBBBBB;
}
#optionsframework-wrap #optionsframework-metabox{
    position: relative;
    left: 194px;
}
#optionsframework-wrap #optionsframework .section{ padding: 20px 20px 0; margin-top: 10px; border-top: 1px solid #DDDDDD}
#optionsframework-wrap #optionsframework .section.section-info + .section{ border-top: none; }
#optionsframework-wrap #optionsframework .section .heading {
    border-bottom: none;
    float: left;
    margin: 0 0 15px;
    padding: 10px 0;
    width: 30%;
}
#optionsframework-wrap #optionsframework .option{
    float: right;
    width: 65%;
    margin-top: 10px; 
}
#optionsframework-wrap #optionsframework .option label{
    max-width: 90%;
}
#optionsframework-wrap #optionsframework .section .explain{
    width: auto;
    max-width: 90%;
}

#optionsframework-wrap #optionsframework .group > h3:first-child + .section.section-info{ margin-top: 0; border-top: none;  }
#optionsframework-wrap #optionsframework .section.section-info{ background-color:#222222 ;border:none; font-size: 20px; color: #EEEEEE; margin: 20px 0 0; padding: 5px 20px; border-left: none;}
#optionsframework-wrap #optionsframework .section.section-info h4{margin-bottom: 0; border:none; font-weight:bold; font-size: 15px; text-transform: uppercase; }

#optionsframework-wrap #optionsframework .section .controls{ width: 100%; }
#optionsframework-wrap #optionsframework .controls .of-radio-img-img{ max-width: 145px; }
/* notification */

#setting-error-save_options {
    position: absolute;
    top: 0 !important;
    left: 20px;
    width: 100%;
}

